body {
    background-image: url("https://lh3.googleusercontent.com/7hIlk5f7HAIJ9gde7blXHPiybHBrVSL341vEX2Y9W63CjKonZXUeWi6pnyQOy2bCZmaZFzZPo24ahA_DgJ295wo-NFmGZgRkAIusQ58sTIvEC1_dSA9lCQnGVsS6K7orNTg3nsViB4QWODBO9g-Nrjg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    background-color: #0c37865e;
    overflow: hidden;
    font-size: 20px;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e6dbdb5b;
}

.container{
    font-size: 30px;
    text-align: left;
}

.cadastro a {
    text-align: left;
    color: white;
    list-style-type: none;
    font-size: 20px;
}
.container1{
    text-align: center;
    padding: 20PX;
    font-size: 30px;
}